body{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
#container{
	background: violet;
	width: 61em;
	position: relative;
	border-radius: 2em;

}
#container h1{
	color:#8B008B;
	text-align: center;
}
#navbar{
	background: #C71585;
	border: none;
}
#navbar a{
	color:white;
}
#navbar a:hover{
	color:#FF00FF;
}

#fotoH{
	width: 59em;
}
#form{
	text-align: left;
}
#footer{
	position: relative;
	width: 100%;
}

#rowFooter{
	border-top:1px solid black;
	padding-top: 3em;
}

#botonSabores{
	background: #C71585;
	border: none;
}
#sabores ul{
	background:#DA70D6;
}

#sabores a:hover{
	background: #DDA0DD;
}