		body{
			background: pink;
		}
		.conteiner{
			background: white;
			margin:auto;
			display:block;
			width: 978px;
		}
		.conteiner h1{
			text-align: center;
		} 
		.encabezado img{
			display: inline;
		}
		/*Alineado a la derecha*/
		.redes {
			text-align: right; 
		}
		.menu a{
			display: inline-block;
		}
		.imagenes{
			display: block;
			text-align: center;
		}
		.sabores img{
			text-align: center;
		}
		.contacto label{
			display: block;
		}
		.contacto p{
			float: right;
			width: 10 px
		}
		